 #main,#selection {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        border: 1px solid red;
        height: 100vh;
        padding-top: 10px;
        padding-left: 10px;
        overflow: auto;
    }

    img {
        width: 100%;
        height: 100%;
    }

    #main div ,#selection div{
        width: 18%;
        height: 320px;
        margin-right: 22px;
        margin-bottom: 30px;

    }

    #create, #searchBtn ,#close,#cid,#ep{
        background-color: #414f6c;
        color: white;
        padding: 5px;
        position: absolute;
        width: 10%;
        left: 83%;
        top: 0;
    }

    #searchBtn {
        top: 50px;
        background: #3c3c43;
    }
    #outsider {
        background: rgba(0,0,0,0.7);
        position: absolute;
        width: 100%;
        z-index: 44;
        top: 0;
    }
    #close{
        background:salmon;
        top:120px;
    }
    #showMenu{
        border: none;
        background: #5ba6b7;
        color: white;
        width:10%;
    }
    #cid{
        top:200px;
    }
      #ep{
        top:240px;
    }